body {
  background-image: url(back.jpeg);
  color: rgb(8, 8, 8);
  margin: auto;
  text-align: center;
  background-size: cover;
  display: block;
}
h1{
  border: 5px solid black;
  background-color: #F5F7B2;
  border-radius: 20%;
  width: 150px;
  margin: auto;
display: block;
margin-bottom: 10px;
} 
h2{
  background-color: #F5F7B2;
  border: 5px solid black;
  width: 150px;
  margin: 10px;
  display: inline-block;
  
}


.board-container {
  /* background-color: #92A9BD; */
  background-color: #443737;
  margin-left: 35%;
  box-shadow: 0 1px 5px #ccc;
  max-height: 500px;
  max-width: 450px;
  display: block;
  position: fixed;
}
.table{
position: sticky;
background-position: cover;
padding: 20px 10px 10px;
justify-content: center;
margin-top:30px

}
.emoji{
  position: absolute;
  z-index: 1;
  display: block;
  cursor: pointer;
  left: 40%;
  float: left;

}
.cell {
  position: relative;
  width: 30px;
  height: 30px;
  color:#FF0000;
  text-shadow: 0 1px 1px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}
.counter {
  background-color: #F5F7B2;
  color: rgb(14, 13, 13);
  font: 1.5em cursive;
  border: 5px solid black;
  width: 150px;
  margin: 10px;
  display: inline-block;
  
}
.timer {
  z-index: 1;
  font-family: cursive;
    padding: 5px; 
    background: #1d81af;
    color: white;
    width: 50px;
    display: block;
    position: absolute;
    left: 35%;

}

.counter-flag {
  background-color: #F5F7B2;
  color: rgb(14, 12, 12);
  font: 1em cursive;
  border: 4px solid black;
  width: 150px;
  height: 30px;
  display: revert;
  
}

.modal {
  position: absolute;
  background-color:#F9FF21;
  color: black;
  text-align: center;
  padding: 7px;
  font-size: 1.5em;
  height: 100px;
  width: 120px;
  display: none;
  transition: 2s;

  box-shadow: 5px 5px 5px 0px #FF0000, 
  inset 4px 4px 15px 0px #FF0000, 0px 5px 15px 5px #FF0000; 
box-shadow: 5px 5px 5px 0px #FF0000, inset 4px 4px 15px 0px #FF0000, 0px 5px 15px 5px #FF0000;

  margin: 150px  20px;
}
.modal-winner {
  border: 1px solid black;
  background-color:#8921ff;
  color: black;
  text-align: center;
  padding: 7px;
  font-size: 1.5em;
  height: 200px;
  width: 150px;
 margin-right: 80px;
 display: none;
 z-index: 1; 
}

.hints {
  width: 70px;
  height: 30px;
  border: 2px solid #111;
  border-radius: 10%;
  display: block;
    position: absolute;
    left: 42%;
}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: inline;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}


